<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Allgemein">
        <setting id="priority_general" type="enum" label="Priorität Qualität/Format" values="Quality over format|Format over quality" default="0"/>
        <setting id="priority_quality" type="enum" label="Qualität" values="High, Medium, Low|Medium, High, Low|Medium, Low, High|Low, Medium, High" default="2"/>
        <setting id="priority_format" type="enum" label="Format" values="MP3 only|MP3, AAC|AAC, MP3|AAC only" default="1"/>
        <setting type="sep"/>
        <setting id="firewall" type="bool" label="Firewall-Modus" default="false"/>
    </category>
</settings>